h2, h3 {font-weight: normal;}

.project_title {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

.project_list_wrap {
	position: relative;
	display: block;
	width: 1280px;
	height: auto;
	margin: 0 auto;

}
.project_list_wrap.detail {
	margin-top: 100px;
}

.project_list_wrap > ul > li {
	position: relative;
	clear: both;
	margin-bottom: 40px;
}



/* project */

.creator_info {
	position: absolute;
	top: 30px;
	width: 160px;
	text-align: center;
}

.creator_info img {
	width: 60px;
	height: 60px;	
}
.creator_info .username {
	font-size: 1.2em;
}


.project_info {
	position: relative;
	display: block;
	margin-left: 160px;
	width: 944px;
	background-color: #fff;
	border: 1px solid #E0E0E0;
}

.project_info > div {
	position: relative;
	display: block;
}

.project_info .info_title {
	margin: 40px auto 20px auto;
	width: 864px;
}
.project_info .info_title h3 {
	font-size: 1.2em;
}
.project_info .info_title .dday {
	position: absolute;
	top: -10px;
	right: 0;
	font-size: 2em;
	font-weight: bold;
}


.project_info .info_image {
	float: left;
	margin-left: 40px;
	width: 380px;
	height: 300px;
}

	


.project_info .info_data {
	float: left;
	margin-left: 30px;
	width: 455px;
}

.project_info .info_data .member {
	margin-top: 30px;
	width: 50%;
	float: left;
}
.project_info .info_data .member span.number {
	font-size: 2em;
	font-weight: bold;
	margin-left: 5px;
}
.project_info .info_data .joined {
}
.project_info .info_data .admitted {
	text-align: right;
}
.project_info .info_data .progress {
	clear: both;
	width: 100%;
	height: 6px;
	background-color: #E0E0E0;
}

.project_info .info_data .progress .progress_value {
	width: 50%;
	height: 6px;
	background-color: #33CCCC;
}

.project_info .info_data .member_list {
	height: 80px;
	border-bottom: 1px solid #E0E0E0;
}
.project_info .info_data .member_list li {
	float: left;
	height: 60px;
	margin-top: 10px;
}
.project_info .info_data .see_more_member {
	line-height: 60px;
	font-size: 40px;
	color: #AFAFAF;
	letter-spacing: -10px;
	cursor: pointer;
}
.project_info .info_data .member_list_total {
	display: none;
	position: absolute;
	top: 94px;
	left: 237px;
	width: 410px;
	height: 280px;

	z-index: 10;
	box-shadow: 2px 2px 15px #ccc;
	background-color: #fff;
}
.project_info .info_data .member_list_total .title_area {

}
.project_info .info_data .member_list_total .title_area .title_icon {
	width: 60px;
	float: left;
	margin-left: 3px;
}
.project_info .info_data .member_list_total .title_area .title_text {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
.project_info .info_data .member_list_total ul {
	clear: both;
	display: block;
	margin-left: 40px;
	margin-right: 30px;
	height: 200px;
}
.project_info .info_data .member_list_total ul li {
	float: left;
	margin-right: 8px;
	width: 60px;
	height: 90px;
	text-align: center;
	font-size: 0.8em;
}

.project_info .info_data .project_type {
	position: absolute;
	margin-top: -30px;
	right: 0;
	font-size: 0.9em;
}
.project_info .info_data dl {
	clear: both;
	margin-top: 5px;
	font-size: 0.8em;
}
.project_info .info_data dl > * {
	float: left;
	height: 30px;
	line-height: 30px;
}
.project_info .info_data dt {
	width: 30%;
}
.project_info .info_data dd {
	width: 70%;
	text-align: right;
}

.project_info .info_data button {
	float: right;
	width: 85px;
	height: 40px;
	font-size: 1em;
	cursor: pointer;
	color: #fff;
	background-color: #33CCCC;
	border: 0;
	border-radius: 5px;
}


.project_info .clear_blank {
	height: 40px;
}

.project_info .project_memo {
	display: none;
	clear: both;
	position: relative;
}
.project_info .project_memo.detail {
	display: block;
}

.project_info .project_memo p {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 40px;
	width: 90%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	border-top: 1px solid #E0E0E0;
}

.project_info .project_memo .see_comment {
	margin: 40px;
}
.project_info .project_memo .see_comment img {
	cursor: pointer;
}



.project_list_wrap > ul > li .see_more {
	clear: both;
	margin-left: 160px;
	width: 944px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	background-color: #E0E0E0;
	border: 1px solid #E0E0E0;
}











.project_list_wrap li .comments {
	display: none;
	position: absolute;
	bottom: 195px;
	width: 360px;
	height: 700px;	
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 5px 5px 40px #ccc;
}
.project_list_wrap li .comments.on {
	display: block;
}
.project_list_wrap li .comments .comments_title {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 1.1em;
	color: #fff;
	border-radius: 3px 3px 0 0;
	background-color: #33CCCC;
}

.project_list_wrap li .comments .comments_contents {
	margin: 5px auto;
	width: 350px;
	height: 595px;
}



.project_list_wrap li .comments .comments_contents ul {
	margin: 0 auto;
	width: 320px;
}
.project_list_wrap li .comments .comments_contents ul li {
	position: relative;
	padding: 20px 0;
	width: 320px;
	font-size: 0.9em;
}
.project_list_wrap li .comments .comments_contents ul li img {
	position: absolute;
	width: 50px;
	height: 50px;
}
.project_list_wrap li .comments .comments_contents ul li .comments_writer {
	margin-left: 70px;
}
.project_list_wrap li .comments .comments_contents ul li .comments_time {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 0.8em;
	color: #B5B5B5;
}
.project_list_wrap li .comments .comments_contents ul li .comments_content {
	margin-left: 70px;
	margin-right: 30px;
}

.project_list_wrap li .comments .comments_contents > ul > li {
	border-bottom: 1px solid #E0E0E0;
}
.project_list_wrap li .comments .comments_contents > ul > li:last-child {
	border: 0;
}

.project_list_wrap li .comments .comments_contents ul li .reply_area {
	margin-left: 15px;
}
.project_list_wrap li .comments .comments_contents ul li .reply_area ul li {
	padding-bottom: 0;
	width: 305px;
}
.project_list_wrap li .comments .comments_contents ul li .reply_area ul li img {
	float: left;
	width: 40px;
	height: 40px;
}

.project_list_wrap li .comments input {
	clear: both;
	display: block;
	margin: 0 auto;
	padding: 0 10px;
	width: 320px;
	height: 40px;
	font-size: 0.9em;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	background-color: #E0E0E0;
}
.project_list_wrap li .reply_area input {
	margin-left: 60px;
	width: 230px;
	font-size: 1.1em;
}

.project_list_wrap li .comments > input:focus,
.project_list_wrap li .comments > input.on {
	background-color: #fff;
}


.project_create_wrap {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 944px;
	background-color: #fff;
	border: 1px solid #E0E0E0;
}

#project_create_form input {
	background-color: #E0E0E0;
	border: 0;
	border-radius: 3px;	
}

#project_header_area, #project_info_area {
	margin: 0 auto;
	width: 920px;
	text-align: center;
}
#project_header_area {
	margin-top: 40px;
}
#project_info_area {
	margin-top: 30px;
	height: 350px;

	border-bottom: 1px solid #E0E0E0;
}


#project_name {
	width: 865px;
	height: 45px;
}


#project_info_area > div {
	float: left;
}

#upload_img_area {
	margin-left: 25px;
    width: 380px;
    height: 300px;
    background: url('/imgsample/profile_pic_upload.png') 50% 50% no-repeat;
    overflow: hidden;
    border: 1px solid #E0E0E0;
}

#upload_img_area input {
    display: block !important;
    width: 380px !important;
    height: 300px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}

#info_area {
	width: 485px;
    height: 300px;
}

#info_area > label {
	clear: both;
	float: left;
	margin-top: 15px;
	margin-left: 30px;
	width: 80px;
	height: 35px;
	line-height: 35px;
	text-align: left;
	font-size: 0.85em;
	color: #AFAFAF;
}
#info_area > input {
	float: right;
	margin-top: 15px;
	padding: 0 10px;
	width: 350px;
	height: 35px;
	color: #AFAFAF;
	text-align: right;
}

#checkbox_area {
	margin-top: 25px;
	text-align: right;
}
#checkbox_area input {
	margin-right: 10px;
	width: 17px;
	height: 17px;
	color: red;
}
#checkbox_area label {
	float: right;
	font-size: 0.85em;
	color: #AFAFAF;
}


#project_contents_area {
	margin: 0 auto;
	width: 865px;
	margin-top: 30px;
	text-align: center;
}

#project_contents_area input, #project_contents_area textarea {
	margin-top: 30px;
	width: 100%;
	background-color: #f5f5f5;
	border: 0;
	border-radius: 3px;
}


#project_contents_area input {
	height: 45px;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
}
#project_contents_area textarea {
	margin-bottom: 20px;
	max-width: 100%;
	min-height: 400px;
	font-size: 1em;
}

#project_action_area {
	margin-top: 40px;
	text-align: center;
	height: 80px;
	line-height: 80px;
	background-color: #F2F2F2;
}
#project_action_area button {
	margin-left: 15px;
	padding: 0 10px;
	height: 40px;
	font-size: 1em;
	color: #fff;
	background-color: #CCCCCC;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

#project_action_area button#project_create_make {
	background-color: #33CCCC;
}







.project_create_wrap .tab_title_list {
	width: 944px;
	height: 60px;
}
.project_create_wrap .tab_title_list li {
	width: 470px;
	height: 60px;
}

.project_create_wrap .tab_title_list li .tab_title {
	height: 100%;
	line-height: 40px;
}




.project_create_wrap .people_list button.action {
	color: #7c7c7c;
	background-color: #e0e0e0;	
}
.project_create_wrap .people_list ul {

}

.project_create_wrap .people_list ul li {
	width: 340px;
	margin-bottom: 5px;	
}
.project_create_wrap .people_list ul li:hover {
	box-shadow: 1px 2px 5px #888888;
}

