<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

	<servlet>
		<display-name>Startup</display-name>
		<servlet-name>Startup</servlet-name>
		<servlet-class>org.nawa.Startup</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.nawa.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>org.nawa.servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<display-name>Project</display-name>
		<servlet-name>Project</servlet-name>
		<servlet-class>org.nawa.servlet.Project</servlet-class>
	</servlet>
	<servlet>
		<display-name>Comment</display-name>
		<servlet-name>Comment</servlet-name>
		<servlet-class>org.nawa.servlet.Comment</servlet-class>
	</servlet>
	<servlet>
		<display-name>Admin</display-name>
		<servlet-name>Admin</servlet-name>
		<servlet-class>org.nawa.servlet.Admin</servlet-class>
	</servlet>
	<servlet>
		<display-name>User</display-name>
		<servlet-name>User</servlet-name>
		<servlet-class>org.nawa.servlet.User</servlet-class>
	</servlet>
	<servlet>
		<display-name>FindPassword</display-name>
		<servlet-name>FindPassword</servlet-name>
		<servlet-class>org.nawa.servlet.FindPassword</servlet-class>
	</servlet>
	<servlet>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>org.nawa.servlet.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<display-name>Noti</display-name>
		<servlet-name>Noti</servlet-name>
		<servlet-class>org.nawa.servlet.Noti</servlet-class>
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet>
		<display-name>Search</display-name>
		<servlet-name>Search</servlet-name>
		<servlet-class>org.nawa.servlet.Search</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Startup</servlet-name>
		<url-pattern>/Startup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/Project/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>/Comment/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindPassword</servlet-name>
		<url-pattern>/FindPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Noti</servlet-name>
		<url-pattern>/Noti/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search/*</url-pattern>
	</servlet-mapping>
</web-app>